// Place all the styles related to the Static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel{
top: -20px;

  
}
.carousel-images {
  width: 1349px;
  max-height: 520px;
  
}
.img-circle{
   border: solid black 2px;
  
  
  
  
}

.img2{
   border: solid black 2px;
  
  
  
  
}